.container {
	width: 800px;
	max-width: none !important;
	font-family: 'Georgia', 'Palatino', 'Times New Roman', serif;
	padding-bottom: 50px;
}

/* Month by month view */

.month-div {
	text-align: center;
	margin: 10px auto 20px auto;
}

.year {
	font-size: 20pt;
	font-weight: bold;
	text-align: center;
	margin: 30px 0 30px 0;
}

.month-name {
	text-align: center;
	font-size: 14pt;
	font-weight: bold;
	font-variant: small-caps;
}

.dom {
	text-align: center;
	min-width: 25px;
	padding: 2px;
}

.disabled {
	color: #c0c0c0;
}

.dom a {
	text-decoration: none;
	color: Black;
}

.dom a:hover {
	font-weight: bold;
}

/* Day by day view */

.main-title {
	font-size: 36pt;
	font-weight: bold;
	font-variant: small-caps;
	text-align: center;
	margin: 30px 0 10px 0;
	border: 2px solid black;
	border-width: 2px 0 2px 0;
}

.main-subtitle {
	font-size: 24pt;
	font-weight: bold;
	font-variant: small-caps;
	text-align: center;
	margin: 10px 0 20px 0;
}

.day {
	font-size: 20pt;
	font-weight: bold;
	text-align: center;
	margin: 30px 0 0 0;
}

.date {
	font-size: 14pt;
	font-weight: bold;
	text-align: center;
	margin: 0 0 10px 0;
}

.day-table {
}

/*
.day-table tr:hover {
	background: #f8f8f8;
}
*/

.tag-box {
	vertical-align: top;
	margin: 2px;
	width: 190px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
}

.info-box {
	vertical-align: top;
	margin: 15px;
	width: 100%;
}

.title {
	font-size: 12pt;
	margin: 2px 2px 0 8px;
}

.desc {
	font-size: 10pt;
	font-style: italic;
	margin: 0 2px 2px 8px;
}

.tag {
	font-family: 'Arial Narrow', Arial, sans-serif;
	display: inline-block;
	text-align: center;
	margin: 1px;
	padding: 0;
	font-size: 10pt;
	min-width: 90px;
	border-radius: 10px;
	border: 1px solid black;
	background-color: #e0e0e0;
	color: #000000;
}

.AltFacts { /* MediumVioletRed = #c71585 */
	border-color: MediumVioletRed;
	background-color: MediumVioletRed;
	color: White;
}
.AltFacts:hover {
	border-color: #f745b5;
	background-color: #f745b5;
	color: White;
}

.BabyHands { /* Pink = #ffc0cb; MistyRose = #fee4e1 */
	border-color: Pink;
	background-color: MistyRose;
	color: Black;
}
.BabyHands:hover {
	border-color: #ffc0cb;
	background-color: #dec4c1;
	color: Black;
}

.Commentary { /* MediumSeaGreen = #3cb371 */
	border-color: MediumSeaGreen;
	background-color: MediumSeaGreen;
	color: White;
}
.Commentary:hover {
	border-color: #6ce3a1;
	background-color: #6ce3a1;
	color: White;
}

.GloriousLeader {
	border-color: Blue;
	background: repeating-linear-gradient(-20deg, #ffd0d0, #ffd0d0 5px, #ffffff 5px, #ffffff 10px);
	color: Blue;
}
.GloriousLeader:hover {
	border-color: Blue;
	background: repeating-linear-gradient(-20deg, #ffb0b0, #ffb0b0 5px, #b0b0ff 5px, #b0b0ff 10px);
	color: White;
}

.HaHa { /* MediumOrchid = #ba55d3 */
	border-color: MediumOrchid;
	background-color: MediumOrchid;
	color: White;
}
.HaHa:hover {
	border-color: #ea85ff;
	background-color: #ea85ff;
	color: White;
}

.Hate { /* Black = #000000 */
	border-color: Black;
	background-color: Black;
	color: White;
}
.Hate:hover {
	border-color: #606060;
	background-color: #606060;
	color: White;
}

.Hmmm {}

.ILoveWomen {
	border-color: Pink;
	background-color: White;
	color: DeepPink;
}
.ILoveWomen:hover {
	border-color: Pink;
	background-color: #c0c0c0;
	color: DeepPink;
}

.Lawsuit { /* DarkGray = #a9a9a9 */
	border-color: DarkGray;
	background-color: DarkGray;
	color: White;
}
.Lawsuit:hover{
	border-color: #d9d9d9;
	background-color: #d9d9d9;
	color: White;
}

.Mexico {
	border-color: #f00;
	background: repeating-linear-gradient(90deg, #cfc, #cfc 30px, #fff 30px, #fff 60px, #fcc 60px, #fcc 90px);
	color: Black;
}
.Mexico:hover {
	border-color: #f00;
	background: repeating-linear-gradient(90deg, #9f9, #9f9 30px, #fff 30px, #fff 60px, #f99 60px, #f99 90px);
	color: Black;
}

.Misc { /* DarkGray = #a9a9a9 */
	border-color: DarkGray;
	background-color: #f0f0f0;
	color: Black;
}
.Misc:hover {
	border-color: DarkGray;
	background-color: #c0c0c0;
	color: Black;
}

.Nazi {
	border-color: #000000;
	background-color: #ff0000;
	color: White;
}
.Nazi:hover {
	border-color: #000000;
	background-color: #bf0000;
	color: White;
}

.News {
	border-color: #f0f0f0;
	background-color: #f0f0f0;
	color: Black;
}
.News:hover {
	border-color: #d0d0d0;
	background-color: #d0d0d0;
	color: Black;
}

.Punch { /* PeachPuff = #ffdab9 */
	border-color: PeachPuff;
	background-color: PeachPuff;
	color: Black;
}
.Punch:hover {
	border-color: #cfaa89;
	background-color: #cfaa89;
	color: Black;
}

.Russia {
	border-color: Blue;
	background: repeating-linear-gradient(0deg, #fcc, #fcc 5px, #ccf 5px, #ccf 13px, #fff 13px, #fff 20px);
	color: Black;
}
.Russia:hover {
	border-color: Blue;
	background: repeating-linear-gradient(0deg, #f99, #f99 5px, #99f 5px, #99f 13px, #fff 13px, #fff 20px);
	color: Black;
}

.Satire { /* MediumSlateBlue = #7b68ee */
	border-color: MediumSlateBlue;
	background-color: MediumSlateBlue;
	color: White;
}
.Satire:hover {
	border-color: #ab98ff;
	background-color: #ab98ff;
	color: White;
}

.Security { /* Plum = #dda0dd */
	border-color: Plum;
	background-color: Plum;
	color: Black;
}
.Security:hover {
	border-color: #bd80bd;
	background-color: #bd80bd;
	color: Black;
}

.Science { /* MediumSpringGreen = #00fa9a */
	border-color: #00ca9a;
	background-color: #00ca9a;
	color: Black;
}
.Science:hover {
	border-color: #30faca;
	background-color: #30faca;
	color: Black;
}

.ThanksObama { /* Chocolate = #d2691e */
	border-color: Chocolate;
	background-color: Chocolate;
	color: White;
}
.ThanksObama:hover {
	border-color: #a23900;
	background-color: #a23900;
	color: White;
}

.TheWall {
	border-color: Black;
	background-color: White;
	color: Black;
}
.TheWall:hover {
	border-color: Black;
	background-color: #c0c0c0;
	color: Black;
}

.Twitter {
	border-color: #0084b4;
	background-color: #0084b4;
	color: White;
}
.Twitter:hover {
	border-color: #30b4e4;
	background-color: #30b4e4;
	color: White;
}
