.container {
	max-width: 800px;
	font-family: 'Georgia', 'Palatino', 'Times New Roman', serif;
	padding-bottom: 50px;
}

/* Month by month view */

.month-div {
	text-align: center;
	margin: 10px auto 20px auto;
}

.year {
	font-size: 20pt;
	font-weight: bold;
	text-align: center;
	margin: 30px 0 30px 0;
}

/* Calendar */

.month-name {
	text-align: center;
	font-size: 14pt;
	font-weight: bold;
	font-variant: small-caps;
}

.month-day {
	text-align: center;
	font-size: 12pt;
	min-width: 25px;
	padding: 2px;
}

.month-day a {
	text-decoration: none;
	color: Black;
}

.month-day a:hover {
	font-weight: bold;
}

.disabled {
	color: #c0c0c0;
}

/* Day by day view */

.main-title {
	font-size: 36pt;
	font-weight: bold;
	font-variant: small-caps;
	text-align: center;
	margin: 30px 0 10px 0;
	border: 2px solid black;
	border-width: 2px 0 2px 0;
}

.main-title a {
	text-decoration: none;
	color: Black;
}

.main-subtitle-box {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center
}

.main-subtitle {
	flex-grow: 0;
	font-size: 24pt;
	font-weight: bold;
	font-variant: small-caps;
	text-align: center;
	margin: 10px 0 20px 0;
}

.main-subtitle-side {
	flex-grow: 1;
	font-size: 12pt;
	font-weight: bold;
	font-variant: small-caps;
	margin-bottom: 10px;
	text-align: center;
	min-width: 60px;
	color: #a0a0a0;
}

.main-subtitle-side a {
	text-decoration: none;
	color: #a0a0a0;
}

.main-subtitle-side a:hover {
	color: #404040;
}

.main-entry-info {
	font-size: 14pt;
	text-align: center;
	margin: 10px 0 20px 0;
}

.tag-page-tagname {
	font-size: 20pt;
	font-weight: bold;
	text-align: center;
	margin: 20px 0 0 0;
}

.tag-page-tag {
	font-size: 14pt;
	text-align: center;
	margin: 0 0 5px 0;
}

.tag-page-info {
	font-size: 10pt;
	font-style: italic;
	text-align: center;
	max-width: 500px;
	margin: 0 auto 20px auto;
}

.day {
	font-size: 20pt;
	font-weight: bold;
	text-align: center;
	margin: 30px 0 0 0;
}

.date {
	font-size: 14pt;
	font-weight: bold;
	text-align: center;
	margin: 0 0 10px 0;
}

.tag-heading {
	font-size: 14pt;
	font-weight: bold;
	text-align: center;
	margin: 30px 0 10px 0;
}

@media screen and (min-width : 992px) {
	.tag_row_padding {
		padding: 8px !important;
	}
	.row_padding {
		padding: 2px !important;
	}
	.tag-box {
		justify-content: flex-end !important;
	}
}

.tag-row_padding {
	padding: 20px 0 0 0;
}

.row_padding {
	padding: 20px 0 0 0;
}

.tag-box {
	vertical-align: top;
	padding: 2px 5px 0 5px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.info-box {
	vertical-align: top;
	padding: 0 5px 0 5px;
}

.trumptweet {
	border: 1px solid #808080;
	border-radius: 10px;
}

.title {
	font-size: 12pt;
	margin: 2px 2px 0 2px;
}

.desc {
	font-size: 10pt;
	font-style: italic;
	margin: 0 2px 2px 2px;
}

.flip {
    white-space: nowrap;
    position: absolute;
    bottom: 50px;
    right: 100px; /* offset from right */
    z-index: 1;
    transform-origin: right bottom;
    transform: rotate(180deg);
}

.greyout {
    background: rgba(0, 0, 0, 0.5);
}

.tag {
	font-family: 'Arial Narrow', Arial, sans-serif;
	display: inline-block;
	text-align: center;
	margin: 1px;
	padding: 1px 0 0 0;
	font-size: 9pt;
	min-width: 92px;
	border-radius: 10px;
	border: 1px solid black;
	background-color: #e0e0e0;
	color: #000000;
}

.AltFacts { /* MediumVioletRed = #c71585 */
	border-color: MediumVioletRed;
	background-color: MediumVioletRed;
	color: White;
}
.day-table .AltFacts:hover {
	border-color: #f745b5;
	background-color: #f745b5;
	color: White;
}

.Australia .flip {
	border-color: White;
	background: repeating-linear-gradient(0deg, Green, Green 10px, Gold 10px, Gold 20px);
	color: Black;
}
.day-table .Australia:hover {
	border-color: Blue;
	background: repeating-linear-gradient(0deg, Green, Green 10px, Gold 10px, Gold 20px);
	color: Black;
}

.BabyHands { /* Pink = #ffc0cb; MistyRose = #fee4e1 */
	border-color: Pink;
	background-color: MistyRose;
	color: Black;
}
.day-table .BabyHands:hover {
	border-color: #ffc0cb;
	background-color: #eed4d1;
	color: Black;
}

.Bannon {
	border-color: Black;
	border-left: none;
	border-right: none;
	background-color: #e0e0e0;
	color: Black;
}
.day-table .Bannon:hover {
	border-color: Black;
	background-color: #d0d0d0;
	color: Black;
}

.Canada {
	border-color: #f00;
	background: repeating-linear-gradient(90deg, #fcc, #fcc 30px, #fff 30px, #fff 60px, #fcc 60px, #fcc 90px);
	color: Black;
}
.day-table .Canada:hover {
	border-color: #f00;
	background: repeating-linear-gradient(90deg, #eaa, #eaa 30px, #eee 30px, #eee 60px, #eaa 60px, #eaa 90px);
	color: Black;
}

.Commentary { /* MediumSeaGreen = #3cb371 */
	border-color: MediumSeaGreen;
	background-color: MediumSeaGreen;
	color: White;
}
.day-table .Commentary:hover {
	border-color: #5cd391;
	background-color: #5cd391;
	color: White;
}

.Conway { /* Plum = #dda0dd */
	border-color: Plum;
	background-color: Plum;
	color: White;
}
.day-table .Conway:hover {
	border-color: #bd80bd;
	background-color: #bd80bd;
	color: White;
}

.Ethics { /* DarkOrange = #ff8c00 */
	border-color: DarkOrange;
	background-color: DarkOrange;
	color: White;
}
.day-table .Ethics:hover {
	border-color: #ef7c00;
	background-color: #ef7c00;
	color: White;
}

.GloriousLeader {
	border-color: Blue;
	background: repeating-linear-gradient(-20deg, #fdd, #fdd 5px, #fff 5px, #fff 10px);
	color: Blue;
}
.day-table .GloriousLeader:hover {
	border-color: Blue;
	background: repeating-linear-gradient(-20deg, #ecc, #ecc 5px, #eee 5px, #eee 10px);
	color: Blue;
}

.HaHa { /* MediumOrchid = #ba55d3 */
	border-color: MediumOrchid;
	background-color: MediumOrchid;
	color: White;
}
.day-table .HaHa:hover {
	border-color: #ea85ff;
	background-color: #ea85ff;
	color: White;
}

.Hate { /* Black = #000000 */
	border-color: Black;
	background-color: Black;
	color: White;
}
.day-table .Hate:hover {
	border-color: #606060;
	background-color: #606060;
	color: White;
}

.Hmmm {}

.ILoveWomen {
	border-color: Pink;
	background-color: White;
	color: DeepPink;
}
.day-table .ILoveWomen:hover {
	border-color: Pink;
	background-color: #f0f0f0;
	color: DeepPink;
}

.Irony { /* OliveDrab = #6b8e23 */
	border-color: OliveDrab;
	background-color: OliveDrab;
	color: White;
}
.day-table .Irony:hover {
	border-color: #8bae43;
	background-color: #8bae43;
	color: White;
}

.Lawsuit { /* DarkGray = #a9a9a9 */
	border-color: DarkGray;
	background-color: DarkGray;
	color: White;
}
.day-table .Lawsuit:hover{
	border-color: #c0c0c0;
	background-color: #c0c0c0;
	color: White;
}

.Mexico {
	border-color: #f00;
	background: repeating-linear-gradient(90deg, #cfc, #cfc 30px, #fff 30px, #fff 60px, #fcc 60px, #fcc 90px);
	color: Black;
}
.day-table .Mexico:hover {
	border-color: #f00;
	background: repeating-linear-gradient(90deg, #aea, #aea 30px, #eee 30px, #eee 60px, #eaa 60px, #eaa 90px);
	color: Black;
}

.Misc { /* DarkGray = #a9a9a9 */
	border-color: DarkGray;
	background-color: #f0f0f0;
	color: Black;
}
.day-table .Misc:hover {
	border-color: DarkGray;
	background-color: #e0e0e0;
	color: Black;
}

.Nazi {
	border-color: #000000;
	background-color: #ff0000;
	color: White;
}
.day-table .Nazi:hover {
	border-color: #000000;
	background-color: #bf0000;
	color: White;
}

.News {
	border-color: #f0f0f0;
	background-color: #f0f0f0;
	color: Black;
}
.day-table .News:hover {
	border-color: #e0e0e0;
	background-color: #e0e0e0;
	color: Black;
}

.Punch { /* PeachPuff = #ffdab9 */
	border-color: PeachPuff;
	background-color: PeachPuff;
	color: Black;
}
.day-table .Punch:hover {
	border-color: #efcaa9;
	background-color: #efcaa9;
	color: Black;
}

.Russia {
	border-color: Blue;
	background: repeating-linear-gradient(0deg, #fcc, #fcc 5px, #ccf 5px, #ccf 13px, #fff 13px, #fff 20px);
	color: Black;
}
.day-table .Russia:hover {
	border-color: Blue;
	background: repeating-linear-gradient(0deg, #eaa, #eaa 5px, #aae 5px, #aae 13px, #eee 13px, #eee 20px);
	color: Black;
}

.Satire { /* MediumSlateBlue = #7b68ee */
	border-color: MediumSlateBlue;
	background-color: MediumSlateBlue;
	color: White;
}
.day-table .Satire:hover {
	border-color: #ab98ff;
	background-color: #ab98ff;
	color: White;
}

.Science { /* MediumSpringGreen = #00fa9a */
	border-color: #00ca9a;
	background-color: #00ca9a;
	color: Black;
}
.day-table .Science:hover {
	border-color: #20eaba;
	background-color: #20eaba;
	color: Black;
}

.SCOTUS {
	border-color: #fcf;
	background: repeating-linear-gradient(0deg, #fef 0%, #fcf 50%, #fef 100%);
	color: Black;
}
.day-table .SCOTUS:hover {
	border-color: #fcf;
	background: repeating-linear-gradient(0deg, #ede 0%, #eae 50%, #ede 100%);
	color: Black;
}

.Spicer { /* Tomato = #ff6347 */
	border-color: Tomato;
	background-color: Tomato;
	color: White;
}
.day-table .Spicer:hover {
	border-color: #df5337;
	background-color: #df5337;
	color: White;
}

.ThanksObama { /* Chocolate = #d2691e */
	border-color: Chocolate;
	background-color: Chocolate;
	color: White;
}
.day-table .ThanksObama:hover {
	border-color: #a23900;
	background-color: #a23900;
	color: White;
}

.TheCyber { /* Plum = #dda0dd */
	border-color: Plum;
	background-color: Plum;
	color: Black;
}
.day-table .TheCyber:hover {
	border-color: #bd80bd;
	background-color: #bd80bd;
	color: Black;
}

.TheWall {
	border-color: Black;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAK0lEQVQoU2N88ODBfwYiACNMDUiDgoICnI+udyAVkuwZdMejew6nL2mvEADwmydJ088CoQAAAABJRU5ErkJggg==) repeat;
	color: Black;
}
.day-table .TheWall:hover {
	border-color: Black;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAL0lEQVQoU2M8cODAfwYiAOODBw/ACh88eMCgoKCAU8tAKiTZM+i+QPcc3DP0VwgALVI7gVoQJwwAAAAASUVORK5CYII=) repeat;
	color: Black;
}

.TravelBan { /* BurlyWood  = #deb887 */
	border-color: BurlyWood;
	background-color: BurlyWood;
	color: White;
}
.day-table .TravelBan:hover {
	border-color: #be9867;
	background-color: #be9867;
	color: White;
}

.Twitter {
	border-color: #0084b4;
	background-color: #0084b4;
	color: White;
}
.day-table .Twitter:hover {
	border-color: #30b4e4;
	background-color: #30b4e4;
	color: White;
}

.UK { /* RoyalBlue = #4169e1 */
	border-color: RoyalBlue;
	background:
		/* Red horizontal */
		repeating-linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 40%, #fcc 40%, #fcc 60%, rgba(0,0,0,0) 60%, rgba(0,0,0,0) 100%),
		/* White Red White vertical */
		repeating-linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 35%, White 35%, #fcc 40%, #fcc 60%, White 65%, rgba(0,0,0,0) 65%, rgba(0,0,0,0) 100%),
		/* White horizontal */
		repeating-linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 35%, White 35%, White 65%, rgba(0,0,0,0) 65%, rgba(0,0,0,0) 100%),
		/* White Red White diagonal */
		repeating-linear-gradient(10deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 44%, White 44%, White 48%, #fcc 48%, #fcc 52%, White 52%, White 56%, rgba(0,0,0,0) 56%, rgba(0,0,0,0) 100%),
		repeating-linear-gradient(-10deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 44%, White 44%, White 48%, #fcc 48%, #fcc 52%, White 52%, White 56%, rgba(0,0,0,0) 56%, rgba(0,0,0,0) 100%),
		#ccf;
	color: Black;
}
.day-table .UK:hover {
	border-color: #6189ff;
	background:
		repeating-linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 40%, #eaa 40%, #eaa 60%, rgba(0,0,0,0) 60%, rgba(0,0,0,0) 100%),
		repeating-linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 35%, #eee 35%, #eaa 40%, #eaa 60%, #eee 65%, rgba(0,0,0,0) 65%, rgba(0,0,0,0) 100%),
		repeating-linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 35%, #eee 35%, #eee 65%, rgba(0,0,0,0) 65%, rgba(0,0,0,0) 100%),
		repeating-linear-gradient(10deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 44%, #eee 44%, #eee 48%, #eaa 48%, #eaa 52%, #eee 52%, #eee 56%, rgba(0,0,0,0) 56%, rgba(0,0,0,0) 100%),
		repeating-linear-gradient(-10deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 44%, #eee 44%, #eee 48%, #eaa 48%, #eaa 52%, #eee 52%, #eee 56%, rgba(0,0,0,0) 56%, rgba(0,0,0,0) 100%),
		#aae;
	color: Black;
}

